<mgl-map
	[style]="'https://tiles.openfreemap.org/styles/liberty'"
	[zoom]="[18]"
	(moveEnd)="moveEnded()"
	[pitch]="[60]"
	[center]="[7.5,51.5]"
>
	<mgl-control
		mglGeolocate
		[showUserLocation]="true"
		[trackUserLocation]="true"
		[positionOptions]="{enableHighAccuracy: true}"
		(geolocate)="geolocated($event)"
		[fitBoundsOptions]="{padding: {top: 10, bottom: 10, left: 10, right: 10}}"
	></mgl-control>

	@for (segment of segmentsStore.entities(); track segment.id) {
		<mgl-geojson-source [id]="segment.id + '-segment-source'" [data]="{
			type: 'Feature',
			properties: {},
			geometry: {
				type: 'LineString',
				coordinates: segment.path
			}
		}" />
		<mgl-layer
			id="segment-{{segment.id}}"
			type="line"

			[paint]="getPaintForSegmentLayer(segment.id)"
			[source]="segment.id + '-segment-source'"
			(layerMouseEnter)="layerHoverStart(segment.id)"
			(layerMouseLeave)="layerHoverEnd(segment.id)"
			(layerClick)="gotoSegmentDetails(segment.id)"
		></mgl-layer>
	}

	<!--@for (tour of toursStore.entities(); track tour.id) {
		<mgl-geojson-source [id]="tour.id + '-tour-source'" [data]="{
			type: 'Feature',
			properties: {},
			geometry: {
				type: 'LineString',
				coordinates: getTourCoordinates(tour.track)
			}
		}" />
		<mgl-layer
			id="tour-{{tour.id}}"
			type="line"

			[paint]="getPaintForTourLayer(tour.id)"
			[source]="tour.id + '-tour-source'"
			(layerMouseEnter)="layerHoverStart(tour.id)"
			(layerMouseLeave)="layerHoverEnd(tour.id)"
			(layerClick)="gotoTourDetails(tour.id)"
		></mgl-layer>
	}-->
	<mgl-control position="top-left">
		<mat-card style="padding: 10px">
			<span>Touren</span>
		</mat-card>
	</mgl-control>
</mgl-map>
