app-tour-map {
	height: 400px;
	display: block;
}

.details {
	padding: 16px;
}

.date-stats {
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
}

.gold {
	color: #ffd700;
}

.silver {
	color: #c0c0c0;
}

.bronze {
	color: #cd7f32;
}
